{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>
        {{ product.description|linebreaks }}
        <p class="price">${{ product.price }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div>
    <div>
        {% with comments.count as c %}
            <h2>
                {{ c }}comments
            </h2>
        {% endwith %}
    </div>
    <div>
        {% for comment in comments %}
            <div class="comment">
                <p> comment by {{ comment.name }} </p>
                {{ comment.text }}
            </div>
            {% empty %}
            <p> there are no comments </p>

        {% endfor %}
    </div>
    <h2> Add comment </h2>
    <div>
        {% if comment_added %}
            <p> Your comment added </p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
    </div>
{% endblock %}